@import "_base.css";

/* header and footer*/
.header,
.footer {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(
    to left bottom,
    #f61067,
    #fa385f,
    #fc5059,
    #fd6555,
    #fc7753
  );

  padding: 10px 16px;
  border-style: solid;
  border-color: whitesmoke;
}

.header h1 {
  color: whitesmoke;
  font-size: xx-large;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
  background-color: ;
}

.container {
  width: 100%;
  margin: 0 auto;
}

nav a {
  color: #0e6ba8;
  text-decoration: none;
}
.navsym {
  height: 20vw;
  width: 25%;
  float: left;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  overflow: auto;
  background: transparent;
  border: none;
  -webkit-filter: invert();
}

.active {
  border: dotted;
}

img {
  width: 80%;
}
img:hover {
  opacity: 0.8;
}

.content__card {
  aspect-ratio: 3 / 2;
  width: 100%;
  max-width: 400px;
  background: #f61067;
  border-style: solid;
  border-color: #fc7753;
}
